.btn-success {
    width:90px;
    /* height: 25px; */
    font-size: 16px;
    text-align: center;
    /* padding-bottom: 15px; */
    /*color: #fff;
    background-color: #587593fa;
    border-color: #6c8eb1;*/
}

/*.btn-success:hover {
    color: #fff;
    background-color: rgba(61, 85, 111, 0.91);
    border-color: #415d7aa6;
}
.btn-success:active, .btn-success:focus {
    color: #fff;
    background-color: #587593fa;
    border-color: #6c8eb1;
}
.btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open>.dropdown-toggle.btn-success.focus, .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success:hover {
    color: #fff;
    background-color: #587593fa;
    border-color: #6c8eb1;
}*/

.btn-warning {
    width: 40px;
    /* height: 25px; */
    text-align: center;
}

.btn-danger {
    width: 40px;
    /* height: 25px; */
    font-size: 14px;
    padding-bottom: 2px;
    padding-top: 5px;
    text-align: center;
}
/*
.panel-default>.panel-heading {
    color: #fff;
    background-color: #35516e;
    border-color: #ddd;
}

.panel-heading {
    padding: 0;
    border-bottom: 10px solid;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}*/

.container{
    margin-top: 5px;
}

.headerWidth{
    width: 100px;
}

#menuDiv{
    width: 50px;
    background-color: #FFF;
    color: #000;
}

.dropbtn {
    height: auto;
    background-color: #30788e;
    /*background-color: #35516e;*/
    color: white;
    /*padding: 8px;*/
    font-size: 16px;
    border: none;
    padding: 10px 20px 9px 20px;
    margin-right: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    /*background-color: #30788e;*/
    /*background-color: #35516e;*/
    background-color: #2c6c81;
}

/*
#navigationList a{
    font: 14px Arial;
    color: #FFF;
    text-decoration:none;
}
#navigationList li{
    float: left;
    list-style-type: none;
    margin-right: 30px;
    margin-bottom: 10px
}*/

.modal-header{
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #3c608f;
    background-color: #5673b0;
    color: #FFF;
}

.modal-header .close{
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #FFF;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .5;
}

.modal-body {
    text-align: center;
}

.modal-body input{
    padding-left: 2px;
}

.modal-body select{
    width: 100%
}

.modal-header .close:hover{
    color: #000;
}

.modal-body input{
    width: 100%
}

.error{
    display: block;
    color: #c00000;
    text-align: left;
    font-size: 14px;
    padding-top: 3px;
    margin-bottom: 3px;
}

.error .cinemamovie{
    display: block;
    color: #c00000;
    text-align: left;
    font-size: 14px;
    padding-top: 3px;
    margin-bottom: 3px;
}

.genres{
    width: 175px;
}

.selectImpresario{
    width: 220px;
}