<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Корпуси</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">



</head>
<body ng-app = "demo">
Корпуси
<div class="container" style="margin-top: 30px" ng-controller = "DepartmentCtrl as departmentCtrl">
    <div class="datagrid">
        <table>
            <thead>
            <tr>
                <th>Номер</th>
                <th>Назва</th>
                <th>Взвод</th>
                <th>Капітан</th>
                <th width="30px"><button type="button" class="btn-success" data-toggle="modal" data-target="#addModal" style="align-self:center">Створити</button></th>
            </tr>
            </thead>

            <tbody>

            <tr ng-repeat = "item in department">
                <td>{{item.codeNumber}}</td>
                <td>{{item.name}}</td>
                <td>{{item.platoon.name}}</td>
                <td>{{item.captain.name}}</td>
                <td>
                    <button id="update" ng-click="departmentCtrl.startUpdateDepartment(item.id, item.name, item.codeNumber, item.platoon.id, item.captain.id)" class="btn-warning" data-toggle="modal" data-target="#editModal">Редагувати</button>
                    <button id="delete" ng-click="departmentCtrl.deleteDepartment(item.id)" class="btn-danger">Видалити</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Додавання армії -->
    <div id="addModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Додавання</h4>
                </div>
                <div class="modal-body">
                    <label>Кодовий номер:</label>
                    <input type="text" id="departmentCode" name="departmentCode" /> <br>
                    <label>Назва:</label>
                    <input type="text" id="departmentName" name="departmentName" />
                    <label>Взвод:
                        <select id="selectPlatoon"
                    </label>

                </div>
                <div class="modal-footer">
                    <button class = "btn btn-default" id="createDepartmentButton" ng-click="departmentCtrl.createDepartment()">Створити</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Редагування армії -->
    <div id="editModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Редагування</h4>
                </div>
                <div class="modal-body">
                    <label>Кодовий номер:</label>
                    <input type="text" id="updateDepartmentCode" name="updateDepartmentCode" /> <br>
                    <label>Назва:</label>
                    <input type="text" id="updateDepartmentName" name="updateDepartmentName" />
                    <button id="editDepartmentButton" ng-click="departmentCtrl.updateDepartment()">Змінити</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                </div>
            </div>

        </div>
    </div>

</div>



<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/department.js"></script>




</body>
</html>